*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

ScotGridDataProcessing/.idea/.name

ScotGridDataProcessing/.idea/compiler.xml

ScotGridDataProcessing/.idea/copyright/profiles_settings.xml

ScotGridDataProcessing/.idea/encodings.xml

ScotGridDataProcessing/.idea/libraries/Maven__com_google_code_geocoder_java_geocoder_java_0_16.xml

ScotGridDataProcessing/.idea/libraries/Maven__com_google_code_gson_gson_2_3.xml

ScotGridDataProcessing/.idea/libraries/Maven__commons_codec_commons_codec_1_5.xml

ScotGridDataProcessing/.idea/libraries/Maven__commons_httpclient_commons_httpclient_3_1.xml

ScotGridDataProcessing/.idea/libraries/Maven__commons_io_commons_io_1_3_1.xml

ScotGridDataProcessing/.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml

ScotGridDataProcessing/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml

ScotGridDataProcessing/.idea/libraries/Maven__org_apache_poi_poi_3_10_FINAL.xml

ScotGridDataProcessing/.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_10_FINAL.xml

ScotGridDataProcessing/.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_10_FINAL.xml

ScotGridDataProcessing/.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_3_0.xml

ScotGridDataProcessing/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_7.xml

ScotGridDataProcessing/.idea/libraries/Maven__stax_stax_api_1_0_1.xml

ScotGridDataProcessing/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml

ScotGridDataProcessing/.idea/misc.xml

ScotGridDataProcessing/.idea/modules.xml

ScotGridDataProcessing/.idea/scopes/scope_settings.xml

ScotGridDataProcessing/.idea/uiDesigner.xml

ScotGridDataProcessing/.idea/vcs.xml

ScotGridDataProcessing/.idea/workspace.xml

ScotGridDataProcessing/ScotGridDataProcessing.iml
